:root {
  --primary-color: #fff;
  --secondary-color: #c2c2c2;
  --ambient-color: #000;
  --box-shadow-default: 2px 2px 10px rgba(231, 231, 231, 0.219);
  --transparent-container: #cecece91;
  --big-fs: 40px;
  --small-fs: 10px;
  --big-percentage-fs: 2vw;
  --small-percentage-fs: 1vw;
  --box-border-radius: 3px;
  --large-paddings: 35px;
  --large-margins: 35px;
  --small-margins: 3px;
}

body {
  margin-left: var(--large-margins);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--ambient-color);
}

body::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 12vw;
  min-height: 60px;
  max-height: 120px;
  background-image: url("./assets/bg.jpg");
  top: 0;
  z-index: 0;
  box-shadow:var(--box-shadow-default);
}

.nav-container {
  width: 71%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.card {
  height: 25vh;
  min-width: 43%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-default);
  transition: transform 0.1s;
}

.card:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.03);
  rotate: -.5deg;
}

.category-label {
  background: #0000006a;
  color: #fff;
  padding: 15px;
  min-width: 60%;
  border-radius: 3px;
}

.category-label:hover {
  cursor: pointer;
}

.tema_asamblea {
  font-size: 3.2vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.anio_asamblea {
  font-size: 1.7vw;
}

.depto_info {
  font-size: 1.5vw;
}

@media screen and (max-width: 700px) {
    .nav-container {
        flex-direction: column-reverse;
    }
    body::before {
        min-height: 110px;
    }
    .depto_info{
        font-size: 12px;
    }
    .tema_asamblea{
        font-size: 20px;
        margin-bottom: 0;
    }
    .anio_asamblea {
        display: none;
    }
    .entity-card-container {
      width: 90vw !important;
    }
}

.back-button-container {
    position: fixed;
    top:93%;
    right: 4%;
    background-color: var(--transparent-container);
    box-shadow: var(--box-shadow-default);
    padding: 3px 6px;
    border-radius: 3px;
}

.flecha {
  font-size: 30px;
  animation: mymove 0.3s infinite;
  text-align: left;
}

@keyframes mymove {
  from{
    rotate: 5deg;
  }
  to{
    rotate:-5deg;
  }
}

.card-title{
  color: var(--secondary-color);
  margin: 12px 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entity-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.entity-card-container {
  width: 40%;
  min-width: 250px;
  line-height: 1;
  justify-content: start;
  background-image: url("./opcion.jpg");
  filter: brightness(1.2);
  margin: 2px 10px;
}

.card-content-direccion {
  text-align: center;
  margin-top: -9px;
  font-size: 10px;
}

.card-content-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
  gap: 5px;
}

.card-content-gps {
  color: #000;
}

.card-content-especialidades {
  text-align: center;
  max-width: 300px;
  font-size: 10px;
  margin: 15px 10px;
}