:root {
  --primary-color: #fff;
  --secondary-color: #d6d6d6e6;
  --ambient-color: #3f3f3f;
  --header-color: #000;
  --box-shadow-default: 2px 2px 6px rgba(231, 231, 231, 0.219);
  --transparent-container: #cecece91;
  --big-fs: 40px;
  --small-fs: 13px;
  --big-percentage-fs: 2.2vh;
  --small-percentage-fs: 1vw;
  --box-border-radius: 3px;
  --large-paddings: 15px;
  --large-margins: 35px;
  --small-margins: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: var(--large-margins);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--ambient-color);
}

body::before {
  position: absolute;
  content: "";
  background-color: var(--header-color);
  width: 100%;
  height: 12vw;
  min-height: 60px;
  max-height: 120px;
  top: 0;
  z-index: 0;
  box-shadow: var(--box-shadow-default);
}

.nav-container {
  width: 71%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.card {
  height: 25vh;
  min-width: 41%;
  background-size: cover;
  mix-blend-mode: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-default);
  transition: transform 0.1s;
}

.card:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.03);
  rotate: -0.5deg;
}

.category-label {
  background: #000000b4;
  color: var(--primary-color);
  padding: var(--large-paddings);
  min-width: 60%;
  width: 190px;
  border-radius: 3px 3px 3px 3px;
  transition: transform, opacity, clip-path 1s;
  transform: scale(1);
  opacity: 1;
}

.category-label:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.7;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.tema_asamblea {
  color: var(--primary-color);
  font-size: 3.2vw;
  font-family: "Lucida Grande", sans-serif;
}

.anio_asamblea {
  color: var(--secondary-color);
  font-size: 1.7vw;
}

.depto_info {
  font-size: 1.5vw;
}

@media screen and (max-width: 700px) {
  .nav-container {
    flex-direction: column-reverse;
  }
  body::before {
    min-height: 110px;
  }
  .depto_info {
    font-size: 12px;
  }
  .tema_asamblea {
    font-size: 20px;
    margin-bottom: 0;
  }
  .anio_asamblea {
    display: none;
  }
}

.back-button-container {
  position: fixed;
  top: 93%;
  right: 4%;
  background-color: var(--header-color);
  box-shadow: var(--box-shadow-default);
  padding: 3px 6px;
  border-radius: 3px;
}

.flecha {
  font-size: 23px;
  animation: mymove 0.3s infinite;
  text-align: left;
}

@keyframes mymove {
  from {
    rotate: 5deg;
  }
  to {
    rotate: -5deg;
  }
}

.card-title {
  color: var(--secondary-color);
  margin: 12px 0;
}

.entities-container {
  margin-top: var(--large-margins);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 900px;
}

.entity-card-container {
  background-image: url("../assets/TARJETA_LIMPIA.png");
  background-position: -20px -20px;
  background-size: 504px 337px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  min-width: 230px;
  width: 43%;
  color: #9FB9E3;
}

.icono {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: calc(var(--large-margins) - 20px);
}

.entity-name {
  font-size: calc(var(--big-percentage-fs) + 2%);
  font-weight: 700;
  margin-bottom: 0;
  padding-left: var(--small-margins);
}

.card-content {
  width: 100%;
  color: var(--primary-color);
  color: #9FB9E3;
}

.card-content-direccion {
  margin: 15px 15px 15px var(--large-margins);
  font-size: var(--small-fs);
  line-height: 1;
}

.card-content-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #9FB9E3;
}

.card-content-telefono, .card-content-gps {
  line-height: 1;
  margin-bottom: .5em;
  color: #9FB9E3;
}